*,
*::after,
::before {
    box-sizing: border-box;
}

.parent:after {
    content: "";
    display: block;
    clear: both;
}

.block {
    width: 200px;
    height: 200px;
    background: #FC8F8F;
}

.fl-block {
    float: left;
}

.fr-block {
    float: right;
}

.fl-block>p {
    position: absolute;
    width: 200px;
    height: 75px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #FFFFFF;
}

.fr-block>p {
    position: absolute;
    width: 200px;
    height: 75px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #FFFFFF;
}
