*,
*::after,
::before {
    box-sizing: border-box;
}

.parent:after {
    content: "";
    display: block;
    clear: both;
}

.parent {
    position: absolute;
    width: 1000px;
    height: 200px;
    background: #E6E6E6;
}

.block {
    width: 200px;
    height: 200px;
    background: #FC8F8F;
}

.parent .fl-block {
    float: left;
}

.parent .fr-block {
    float: right;
}

.fl-block>p {
    position: absolute;
    width: 200px;
    height: 75px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #FFFFFF;
}

.fr-block>p {
    position: absolute;
    width: 200px;
    height: 75px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #FFFFFF;
}

.floyat {
    position: absolute;
    display:inline;
    width: 1000px;
    height: 200px;
    background: #E6E6E6;
    margin: 10px 10px;
    display: inline-flex;
    margin: 20% 0 ;
}

.fq-block {
    float: left;
}

.fw-block .fe-block .ft-block .fy-block {
    float: right;
}

.fq-block>p {
    position: absolute;
    width: 200px;
    height: 75px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #FFFFFF;
}

.fw-block>p {
    position: absolute;
    width: 100px;
    height: 37.5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}

.fe-block>p {
    position: absolute;
    width: 100px;
    height: 37.5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}

.ft-block>p {
    position: absolute;
    width: 100px;
    height: 37.5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}

.fy-block>p {
    position: absolute;
    width: 100px;
    height: 37.5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}

.floyat .fq-block {
float: left;
margin-right: 35%;
}

.floyat .fw-block {
float: right;
width: 100px;
height: 100px;
margin: 0 15px;
}

.floyat .fe-block {
float: right;
width: 100px;
height: 100px;
margin: 0 15px 0 0;
}

.floyat .ft-block {
float: right;
width: 100px;
height: 100px;
margin: 0 15px 0 0;
}

.floyat .fy-block {
float: right;
width: 100px;
height: 100px;
}

.threef {
    position: absolute;
    display:inline;
    width: 1000px;
    height: 200px;
    background: #E6E6E6;
    margin: 10px 10px;
    display: inline-flex;
    margin: 40% 0 ;
}

.threef .fu-block {
    width: 200px;
    height: 200px;
    margin: 0 10px;
    margin-left: 0;
}

.threef .fi-block {
    width: 200px;
    height: 200px;
    margin: 0 5px;
}

.threef .fo-block {
    width: 200px;
    height: 200px;
    margin: 0 15px;
    margin-left: 16.5%;
    
}

.threef .fp-block {
    width: 200px;
    height: 200px;
}

.fu-block>p {
    position: absolute;
    width: 200px;
    height: 75px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #FFFFFF;
}

.fi-block>p {
    position: absolute;
    width: 200px;
    height: 75px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #FFFFFF;
}

.fo-block>p {
    position: absolute;
    width: 200px;
    height: 75px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #FFFFFF;
}

.fp-block>p {
    position: absolute;
    width: 200px;
    height: 75px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #FFFFFF;
}

